.search__widget {
    padding: 20px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #666;
    background-color: #ebebeb;
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.search__widget:focus{
    background-color: #e0e0e0;
    outline: none;
}

.search_bar{
    display: flex;
    justify-content: center;
}



.product_menu {
    padding: 50px 0px;
    margin: 40px 15px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.product_menu .product_list .product_item {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.product_menu .product_list .product_item p {
    border: 1px solid antiquewhite;
    background-color: #4d2c21;
    width: 60px;
    color: aliceblue;
    font-weight: bold;
    font-size: 14px;
    border-radius: 6px;
    padding: 8px 9px;
}

.product_menu .product_list .product_item .product_img {
    display: flex;
    justify-content: center;
}

.product_menu .product_list .product_item img {
    width: 218px;
    height: 210px;
}

.product_menu .product_list .product_item h4 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 16px;
}

.product_menu .product_list .product_button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.product_menu .product_list .product_button button {
    padding: 6px 13px;
    border-radius: 25px;
    border: 2px solid lightgrey;
    background: transparent;
}

.product_menu .product_list .product_button button:hover {
    border: 2px solid black;
    color: red;
}


.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.item_pagination ul li.previous a,
.item_pagination ul li.next a{
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #e01a1a;
    color: #fff !important;
    text-decoration: none;
    margin: 0 5px;
    font-size: 17px;
    font-weight: bold;
    
}
.item_pagination ul li a{
    padding: 10px 15px;
    border: 2px solid #e01a1a;
    border-radius: 4px;
    background-color: #fff;
    color: #e01a1a !important;
    text-decoration: none;
    margin: 0 5px;
    font-size: 17px;
    font-weight: bold;
    transition: all 0.4s;
}
.item_pagination ul li a:hover{
    background-color: #e01a1a;
    color: #fff !important;
}
.item_pagination ul li.selected a{
    background-color: #e01a1a;
    color: #fff !important;
}
/* .item_pagination{
    
} */

@media (max-width:1222px) {
    .product_menu {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:992px) {
    .product_menu .product_list .product_item img {
        width: 180px;
        height: 180px;
    }
}
@media only screen and (max-width: 768px) {
    .search__widget {
        width: 75%;
        margin-bottom: 20px;
    }
}

@media (max-width:768px) {
    .product_menu {
        grid-template-columns: repeat(2, 1fr);
    }

    .product_menu .product_list .product_item img {
        width: 215px;
        height: 215px;
    }
}

@media (max-width:576px) {
    .product_menu .product_list .product_item img {
        width: 148px;
        height: 148px;
    }
}

@media (max-width:425px) {
    .product_menu {
        grid-template-columns: repeat(1, 1fr);
    }

    .product_menu .product_list .product_item img {
        width: 215px;
        height: 215px;
    }

    .product_menu .product_list {
        padding: 0px 35px;
    }
}

@media (max-width:375px) {
    .product_menu .product_list .product_item img {
        width: 178px;
        height: 178px;
    }

    .product_menu .product_list {
        padding: 0px 20px;
    }
}