/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


/* reset default style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

/* base style */

a {
  text-decoration: none;
  color: unset;
}

h1,
h2 {
  font-family: 'Rubik';
}

section {
  padding: 60px 0px;
}

@media only screen and (max-width: 768px) {
  section {
    padding: 40px 0px;
  }

  h1,
  h2 {
    font-size: 1.5rem;
  }
}